@import 'utilities/blocktitles', 'utilities/formcontrols';
@import 'components/navbar', 'components/cards', 'components/infocard', 'components/modals',
  'components/search';

main {
  margin-top: 60px;
}

.voted {
  color: blue;
}

.spirit {
  padding: 0px 10px;
  border: 3px solid hotpink;
  color: hotpink;
  margin: 2px 3px;
}

.flavors {
  padding: 0px 10px;
  border: 3px solid blue;
  color: blue;
  margin: 2px 3px;
}
