{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="card">
        <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
            <div>
                <h4>Cocktail Details:</h4>
            </div>
            <div><a class="btn btn-outline-dark" href="{{ url_for('index') }}"><i class="fas fa-times"></i></a></div>
        </div>
        <form>
            <div class="form-group px-4">
                <label for="name">Type full name of cocktail</label>
                <input id="name" name="name" type="text" class="form-control" 
                    placeholder="Name of Cocktail">
            </div>
            <div class="form-group px-4">
                <label for="image-url">Attach image url</label>
                <input id="image-url" name="image-url" type="text" class="form-control" 
                    placeholder="Name of Cocktail">
            </div>
            <div class="form-group px-4">
                <label for="description">Describe your cocktail</label>
                <textarea id="description" class="form-control"
                    placeholder="describe your cocktail"></textarea>
                
            </div>
            <div class="form-group px-4">
                <label for="flavors">enter a list of decriptors</label>
                <input id="flavors" name="flavors" type="text" class="form-control" aria-describedby="flavorHelp"
                    placeholder="Name of Cocktail">
                <small id="flavorHelp" class="form-text text-muted">Enter a coma separated list of flavors i.e. spicy, fruity, creamy</small>
            </div>
            <hr>
            <div id="ingredients">
                <div class="row d-flex justify-content-between mx-0 px-4">
                    <div >
                        <h4>Ingredients:</h4>
                    </div>
                    <div>
                        <h4><a class="btn btn-outline-dark" data-toggle="modal" data-target="#new-ingredient"><i id="add-1" class="far fa-plus-square"></i></a></h4>
                    </div>
                </div>
                <div class="row mx-0 px-4">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Ingredient</th>
                                <th scope="col">Type</th>
                                <th scope="col">Quanitiy</th>
                            </tr>
                        </thead>
                        <tbody id="ingredients-table">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mx-0 px-4">
                <h4>Equipment:</h4>
            </div>
            <div class="row mx-0 px-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="glass">Select Your Glass</label>
                        <select id="glass" class="form-control">
                            <option value="" disabled>Choose your option</option>
                            <option value="collins">Collins</option>
                            <option value="martini">Martini</option>
                            <option value="hurricane">Hurricane</option>
                            <option value="margarita">Margarita</option>
                            <option value="lowball">Lowball/Rocks</option>
                            <option value="highball">Highball</option>
                            <option value="other">Other</option>
                            <option value="any">Any</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="equipment">Any equipment required</label>
                        <select multiple id="equipment" class="form-control">
                            <option value="Muddler">Muddler</option>
                            <option value="Shaker">Shaker</option>
                            <option value="Strainer">Strainer</option>
                            <option value="Lighter">Lighter</option>
                            <option value="Blender">Blender</option>
                            <option value="none">None</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row mx-0 px-4">
                <h4>Method:</h4>
            </div>
            <div class="row d-flex justify-content-between mx-0 px-4">
                <div>
                    Enter step by step instructions how to make your cocktail below.
                </div>
                <div><i id="add-step" class="far fa-plus-square" onclick="newStep(this)"></i></div>
               
            </div>
            
                <div class="row mx-0 px-4">
                    <div id = "step-by-step" class="col-12">
                        <div class="form-group">
                            <input class="form-control steps" type="text" placeholder="step 1">  
                        </div>
                    </div>
                </div>

            <div class="row mx-0 px-4 d-flex justify-content-between mt-2 mb-5">
              
                    <button type="button" class="btn btn-dark" class="mb-5"><i class="fas fa-times left"></i>cancel</button>
                    <button id="add-cocktail" type="button" class="btn btn-dark" class="mb-5" onclick="getFormDetails()"><i class="fas fa-cocktail"></i>submit drink</button>
            </div>
        </form>
    </div>
    <!-- Modals -->
    <!-- Add Ingredient -->
    <div id="new-ingredient" class="modal fade" 
    role="dialog" aria-labelledby="new-ingerdient-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <h4>Add New Ingredient</h4>
                <div id="ingredient-row" class="row px-4">
                    <div class="form-group col-xs-12 col-md-4">
                            <label for="type-selector">Type of Ingredient</label>
                            <select id="type-selector" class="form-control" onchange="getIngredients(this);">
                                <option disabled selected>Choose your option</option>
                                <option value="spirit">Spirit</option>
                                <option value="garnish">Garnish</option>
                                <option value="mixer">Mixer</option>
                                <option value="mixer">Other</option>
                            </select>
                    </div>
                    <div id="ingredient-selector" class="col-xs-12 col-md-4">
                    </div>
                    <div id="quantity-input" class="form-group col-xs-12 col-md-4">
                        <label for="quantity">quantity</label>
                        <input id="quantity" class="form-control" type="text" placeholder = "quantity">
                        <small id="flavorHelp" class="form-text text-muted">
                           e.g. 2 oz, 30 ml, 2 slices
                        </small>
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    <button type="button" class="btn btn-dark" onclick="addToTable()">add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Add Ingredient -->
    <!-- End of Modals -->

    
</main>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/addingredient.js" charset="utf-8"></script>
    <script src="/static/scripts/getFormDetails.js" charset="utf-8"></script>
    <script>

        let newStep = (e) => {

            let htmlString = `
                    <input class="form-control steps" type="text" placeholder="next step">
            `
            let div = document.createElement("div");
            div.className = "form-group";
            div.innerHTML = htmlString;
            document.getElementById("step-by-step").append(div);
        }



    </script>
{% endblock %}