{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="card">
        <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
            <div>
                <h4>New Cocktail Details:</h4>
            </div>
            <div><a class="btn btn-outline-dark" href="{{ url_for('index') }}"><i class="fas fa-times"></i></a></div>
        </div>
        <form >
            <div class="form-group px-4">
                <label for="name">Type full name of cocktail*</label>
                <p><small id="name-error" class="text-danger"></small></p>
                <input id="name" name="name" type="text" class="form-control" 
                    placeholder="Name of Cocktail">
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-4">
                    <label for="image-preview">Image Preview</label>
                    <img id="image-preview" src="" class="img-fluid img-thumbnail" onerror="this.onerror=null;this.src='../static/images/placeholder.jpg';">
                </div>
                <div class="form-group px-4 col">
                    <label for="image-url">Please enter an image url*</label>
                    <p><small id="image-error" class="text-danger"></small></p>
                    <input id="image-url" name="image-url" type="text" class="form-control" placeholder="cocktail url" onchange="updatePreview(this)">
                </div>
            </div>
            <div class="form-group px-4">
                <label for="description">Describe your cocktail*</label>
                <p><small id="description-error" class="text-danger"></small></p>
                <textarea id="description" name="description" class="form-control"
                    placeholder="describe your cocktail"></textarea>
                
            </div>
            <div class="form-group px-4">
                <label for="flavors">Enter a list of decriptors</label>
                <div id="flavors" name="flavors" class="d-flex flex-wrap" aria-describedby="flavorHelp">
                    <div class="flavors mx-2 w-xs-50 w-md-30 w-lg-10">
                        <!-- remove inline styles later!! -->
                        <input style="width:100%" list="flavor-list" id="flavor-input" placeholder="add +"  oninput="addFlavor(this)">
                    </div>
                </div>
                <datalist id="flavor-list"></datalist>
                <small id="flavorHelp" class="form-text text-muted">please press , after each new descriptor</small>
            </div>
            <hr>
            <div id="ingredients">
                <div class="row d-flex justify-content-between mx-0 px-4">
                    <div >
                        <h4>Ingredients:</h4>
                        <p><small id="ingredients-error" class="text-danger"></small></p>
                    </div>
                    <div>
                        <h4><a class="btn btn-outline-dark" onclick="addMore()"><i id="add-1" class="far fa-plus-square"></i></a></h4>
                    </div>
                </div>
                <div id="ingredients-table">
                    <div id="ingredients-row-1" class="row mx-0 px-4">
                        <div class="col-md-4">
                            <label for="type-selector-1">Type of Ingredient</label>
                            <select id="type-selector-1" name="type-selector-1" class="form-control" onchange="getIngredients(this);">
                                <option disabled value="" selected>Choose your option</option>
                                <option value="spirit">Spirit</option>
                                <option value="garnish">Garnish</option>
                                <option value="mixer">Mixer</option>
                                <option value="others">Other</option>
                            </select>
                        </div>
                        <div id="ingredient-selector-1" class="col-md-4">
                            <label id="label-ingredient-select-1" for="ingredient-select-1" >Select Ingredient</label>
                            <input id="ingredient-select-1" name="ingredient-select-1" class="form-control" type="text" value="" placeholder="select type first" disabled>
                        </div>
                        <div class="col-md-4">
                            <label for="quantity-1">quantity</label>
                            <input id="quantity-1" name="ingredient-select-1" class="form-control" type="text" placeholder="quantity" onkeydown="next(this, event, addMore)">
                            <small id="flavorHelp" class="form-text text-muted">
                                please leave a space between quantity and units eg. 2 oz, 30 ml, 2 slices
                            </small>
                        </div>
                        <hr>
                    </div>    
                </div>
            </div>
            <div class="row mx-0 px-4">
                <h4>Equipment:</h4>
            </div>
            <div class="row mx-0 px-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="glass">Select Your Glass</label>
                        <select id="glass" name="glass" class="form-control">
                            <option value="" value="any" selected>Any</option>
                            <option value="collins">Collins</option>
                            <option value="martini">Martini</option>
                            <option value="hurricane">Hurricane</option>
                            <option value="margarita">Margarita</option>
                            <option value="lowball">Lowball/Rocks</option>
                            <option value="highball">Highball</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input id="equip-1" name="equip-1" class="form-check-input" type="checkbox" value="Muddler">
                            <label class="form-check-label" for="inlineCheckbox1">Muddler</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="equip-2" name="equip-2" class="form-check-input" type="checkbox" value="Shaker">
                            <label class="form-check-label" for="inlineCheckbox2">Shaker</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="equip-3" name="equip-3" class="form-check-input" type="checkbox" value="Strainer">
                            <label class="form-check-label" for="inlineCheckbox3">Strainer</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input id="equip-4" name="equip-4" class="form-check-input" type="checkbox" value="Lighter">
                            <label class="form-check-label" for="inlineCheckbox1">Lighter</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="equip-5" name="equip-5" class="form-check-input" type="checkbox" value="Blender">
                            <label class="form-check-label" for="inlineCheckbox2">Blender</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="equip-other" class="form-check-input" type="checkbox" value="Other" onchange="unlockOther(this)">
                            <label class="form-check-label" for="inlineCheckbox2">
                                <input id="other-equipment-name" class="form-control" type="text" placeholder="other - please specify" disabled>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mx-0 px-4">
                <h4>Method:</h4>
            </div>
            <div class="row d-flex justify-content-between mx-0 px-4">
                <div>

                    <p>Enter step by step instructions how to make your cocktail below.</p>
                    <p><small id="instructions-error" class="text-danger"></small></p>
                </div>
                <div><i id="add-step" class="far fa-plus-square" onclick="newStep()"></i></div>
               
            </div>
            
                <div class="row mx-0 px-4">
                    <div id = "step-by-step" class="col-12">
                        <div id="step-1" name="step-1" class="form-group">
                            <input class="form-control" type="text" placeholder="step 1" onkeydown="next(this, event, newStep)">  
                        </div>
                    </div>
                </div>

            <div class="row mx-0 px-4 d-flex justify-content-between mt-2 mb-5">
              
                    <button type="button" class="btn btn-dark" class="mb-5"><i class="fas fa-times left"></i>cancel</button>
                    <button id="add-cocktail" type="button" class="btn btn-dark" class="mb-5" onclick="getFormDetails(this, 'add')"><i class="fas fa-cocktail"></i>submit drink</button>
            </div>
        </form>
    </div>
    
</main>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/addingredient.js" charset="utf-8"></script>
    <script src="/static/scripts/getFormDetails.js" charset="utf-8"></script>
    <script>
        let addedFlavors = []
        fetch('/api/flavors/')
                .then((response) => response.json())
                .then(data => {
                    data.forEach(flavor =>{
                        newFlavor = document.createElement("option");
                        newFlavor.textContent = flavor.name;
                        document.querySelector("#flavor-list").appendChild(newFlavor)
                    })
                })
        
        let addFlavor = (trigger) => {
            console.log(trigger.value[trigger.value.length - 1]);
            if (trigger.value[trigger.value.length - 1] == ","){
                if (addedFlavors.includes(trigger.value)){
                   trigger.value = ""; 
                }else{
                    let flavor = trigger.value.substring(0, trigger.value.length - 1)
                    addedFlavors.push(flavor)
                    document.querySelector("#flavors").innerHTML = ""
                    console.log(addedFlavors)
                    addedFlavors.forEach(flavor=>{
                        console.log(flavor)
                        let newTag = document.createElement("div")
                        newTag.className = "flavors align-items-center d-flex my-0 mx-1"
                        let crossIcon = document.createElement("i")
                        crossIcon.addEventListener("click", (e) => {
                            console.log(addedFlavors)
                            addedFlavors = addedFlavors.filter(element =>{
                                return element != flavor
                            })
                            console.log(addedFlavors)
                            e.currentTarget.parentNode.remove()
                        })
                        crossIcon.className = "fas fa-times ml-4 mr-1 my-0"
                        let flavorText = document.createElement("p")
                        flavorText.className = "ml-1 my-0"
                        flavorText.textContent = flavor
                        newTag.appendChild(flavorText);
                        newTag.appendChild(crossIcon);
                        document.querySelector("#flavors").appendChild(newTag)
                    })
                    newInput = document.createElement("div")
                    newInput.classList = "flavors mx-2 w-xs-50 w-md-30 w-lg-10"
                    newInput.innerHTML = `<input style="width:100%" list="flavor-list" id="flavor-input"  placeholder="add +"  oninput="addFlavor(this)">`
                    document.querySelector("#flavors").appendChild(newInput)
                    newInput.focus()
                }    
            }
        }

        let unlockOther = (trigger) => {
           if(trigger.checked){
               document.getElementById("other-equipment-name").disabled = false;
           }else{
               document.getElementById("other-equipment-name").value = "";
               document.getElementById("other-equipment-name").disabled = false;
           }
        }

        let newStep = () => {
            let stepByStep = document.getElementById("step-by-step")
            let nextStep = parseInt(stepByStep.children[stepByStep.children.length-1].id.split("-")[1]) + 1 
            let htmlString = `
                    <input class="form-control steps" type="text" placeholder="step ${nextStep}" onkeydown="next(this, event, newStep)">
            `
            let div = document.createElement("div");
            div.className = "form-group";
            div.id=`step-${nextStep}`
            div.innerHTML = htmlString;
            stepByStep.append(div);
            div.focus()
        }
        
        let updatePreview = (trigger) => {
            document.querySelector("#image-preview").src = trigger.value
            document.querySelector("#image-preview").onerror = ()=>{ 
                this.onerror = null;
                document.querySelector("#image-error").textContent = "Invalid image URL placeholder will be used";
                document.querySelector("#image-preview").src ='../static/images/placeholder.jpg';
            };
        }


    </script>
{% endblock %}