{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="card">
        <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
            <div>
                <h4>Edit Cocktail Details:</h4>
            </div>
            <div><a class="btn btn-outline-dark" href="{{ url_for('home.index') }}"><i class="fas fa-times"></i></a></div>
        </div>
        <form>
            <div class="form-group px-4">
                <label for="name">Type full name of cocktail*</label>
                <p><small id="name-error" class="text-danger"></small></p>
                <input id="name" name="name" type="text" class="form-control" placeholder="Name of Cocktail" value= "{{cocktail.name}}" data-id="{{cocktail._id}}">
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-4">
                    <label for="image-preview">Image Preview</label>
                    <img id="image-preview" src="{{cocktail.image_url}}" class="img-fluid img-thumbnail">
                </div>
                <div class="form-group px-4 col">
                    <label for="image-url">Please enter an image url*</label>
                    <p><small id="image-error" class="text-danger"></small></p>
                    <input id="image-url" name="image-url" type="text" class="form-control" placeholder="cocktail url"
                        onchange="updatePreview(this)" value= "{{cocktail.image_url}}">
                </div>
            </div>
            <div class="form-group px-4">
                <label for="description">Describe your cocktail*</label>
                <p><small id="description-error" class="text-danger"></small></p>
                <textarea id="description" name="description" class="form-control"
                    placeholder="describe your cocktail">{{cocktail.description}}</textarea>

            </div>
            <div class="form-group px-4">
                <label for="flavors">Enter a list of decriptors</label>
                <div id="flavors" name="flavors" type="text" class="d-flex flex-wrap" aria-describedby="flavorHelp">
                    {% for i in cocktail.flavor_tags %}
                        <div id="{{ i }}" class="flavors align-items-center d-flex my-0 mx-1">loading tags..</div>
                    {% endfor %}
                    <div class="flavors align-items-center d-flex my-0 mx-1">
                        <!-- remove inline styles later!! -->
                        <input style="width:100%; border:none" list="flavor-list" id="flavor-input" type="text" placeholder="add +"
                            oninput="addFlavor(this)" />
                    </div>
                </div>
                <datalist id="flavor-list"></datalist>
                <small id="flavorHelp" class="form-text text-muted">please press , after each descriptor </small>
            </div>
            <hr>
            <div id="ingredients">
                <div class="row d-flex justify-content-between mx-0 px-4">
                    <div>
                        <h4>Ingredients:</h4>
                        <p><small id="ingredients-error" class="text-danger"></small></p>
                    </div>
                    <div>
                        <h4><a class="btn btn-outline-dark" onclick="addMore()"><i id="add-1"
                                    class="far fa-plus-square"></i></a></h4>
                    </div>
                </div>
                <div id="ingredients-table">
                    {% for i in cocktail["ingredient-details"] %}
                    <div id="ingredients-row-{{loop.index + 1}}" class="row mx-0 px-4">
                        <div class="col-md-4">
                            <label for="type-selector-{{loop.index + 1}}">Type of Ingredient</label>
                            <select id="type-selector-{{loop.index + 1}}" name="type-selector-{{loop.index + 1}}" class="form-control"
                                onchange="getIngredients(this);">
                                <option disabled value="">Choose your option</option>
                                <option value="spirit" {% if i.type == 'spirit' %} selected {% endif %}>Spirit</option>
                                <option value="garnish" {% if i.type == 'garnish' %} selected {% endif %}>Garnish</option>
                                <option value="mixer" {% if i.type == 'mixer' %} selected {% endif %}>Mixer</option>
                                <option value="others" {% if i.type == 'other' %} selected {% endif %}>Other</option>
                            </select>
                        </div>
                        <div id="ingredient-selector-{{loop.index + 1}}" class="col-md-4">
                            <label id="label-ingredient-select-{{loop.index + 1}}" for="ingredient-select-1">Select Ingredient</label>
                            <input id="ingredient-select-{{loop.index + 1}}" name="ingredient-select-1" class="form-control" type="text"
                                value="{{ i.name }}" placeholder="select type first">
                        </div>
                        <div id="quantity-col" class="col-md-4">
                            <label for="quantity-{{loop.index + 1}}">quantity</label>
                            <input id="quantity-{{loop.index + 1}}" name="ingredient-select-1" class="form-control" type="text"
                                placeholder="quantity" value = "{{cocktail.ingredients[loop.index -1 ].quantity}} {{cocktail.ingredients[loop.index -1].units}}">
                            
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mx-0 d-flex justify-content-end">
                <small id="flavorHelp" class="form-text text-muted px-4">
                    please leave a space between quantity and units eg. 2 oz, 30 ml, 2 slices
                </small>
                </div>
            </div>
            <div class="row mx-0 px-4">
                <h4>Equipment:</h4>
            </div>
            <div class="row mx-0 px-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="glass">Select Your Glass</label>
                        <select id="glass" name="glass" class="form-control">
                            <option value="" value="any" {% if cocktail.glass == 'any' %} selected {% endif %}>Any</option>
                            <option value="collins" {% if cocktail.glass == 'collins' %} selected {% endif %}>Collins</option>
                            <option value="martini" {% if cocktail.glass == 'martini' %} selected {% endif %}>Martini</option>
                            <option value="hurricane" {% if cocktail.glass == 'hurricane' %} selected {% endif %}>Hurricane</option>
                            <option value="margarita" {% if cocktail.glass == 'margarita' %} selected {% endif %}>Margarita</option>
                            <option value="lowball" {% if cocktail.glass == 'lowball' %} selected {% endif %}>Lowball/Rocks</option>
                            <option value="highball" {% if cocktail.glass == 'highball' %} selected {% endif %}>Highball</option>
                            <option value="other" {% if cocktail.glass == 'other' %} selected {% endif %}>Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input id="equip-1" name="equip-1" class="form-check-input" type="checkbox" value="Muddler" 
                            {% if "Muddler" in cocktail.equipment %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox1">Muddler</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="equip-2" name="equip-2" class="form-check-input" type="checkbox" value="Shaker"
                            {% if "Shaker" in cocktail.equipment %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Shaker</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="equip-3" name="equip-3" class="form-check-input" type="checkbox"
                                value="Strainer" {% if "Strainer" in cocktail.equipment %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox3">Strainer</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input id="equip-4" name="equip-4" class="form-check-input" type="checkbox" value="Lighter"
                             {% if "Lighter" in cocktail.equipment %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox1">Lighter</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="equip-5" name="equip-5" class="form-check-input" type="checkbox" value="Blender"
                             {% if "Blender" in cocktail.equipment %} checked {% endif %}>
                            <label class="form-check-label" for="inlineCheckbox2">Blender</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if cocktail.equipment|length >= 1 and cocktail.equipment[cocktail.equipment|length -1] not in ["Muddler","Shaker", "Strainer", "Lighter", "Blender"] %} 
                                <input id="equip-other" class="form-check-input" type="checkbox" value="Other" onchange="unlockOther(this)" checked>
                                <label class="form-check-label" for="inlineCheckbox2">
                                    <input id="other-equipment-name" class="form-control" type="text" placeholder="other - please specify" value = "{{ cocktail.equipment[cocktail.equipment|length -1] }}">
                                </label>
                            {% else %}
                                <input id="equip-other" class="form-check-input" type="checkbox" value="Other" onchange="unlockOther(this)">
                                <label class="form-check-label" for="inlineCheckbox2">
                                    <input id="other-equipment-name" class="form-control" type="text" placeholder="other - please specify" disabled>
                                </label>
                            {% endif %}
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mx-0 px-4">
                <h4>Method:</h4>
            </div>
            <div class="row d-flex justify-content-between mx-0 px-4">
                <div>

                    <p>Enter step by step instructions how to make your cocktail below.</p>
                    <p><small id="instructions-error" class="text-danger"></small></p>
                </div>
                <div><i id="add-step" class="far fa-plus-square" onclick="newStep()"></i></div>

            </div>

            <div class="row mx-0 px-4">
                <div id="step-by-step" class="col-12">
                    {% for step in cocktail.method %}
                    <div id="step-{{loop.index + 1}}" name="step-{{loop.index + 1}}" class="form-group">
                        <input class="form-control" type="text" value="{{ step }}">
                    </div>
                    {% endfor%}
                    <div id="step-{{cocktail.method|length + 1}}" name="step-{{cocktail.method|length + 1}}" class="form-group">
                        <input class="form-control" type="text" placeholder="step {{cocktail.method|length + 1}}" onkeydown="next(this, event, newStep)">
                    </div>
                </div>
            </div>

            <div class="row mx-0 px-4 d-flex justify-content-between mt-2 mb-5">

                <button type="button" class="btn btn-dark" class="mb-5"><i class="fas fa-times left"></i>cancel</button>
                <button id="add-cocktail" type="button" class="btn btn-dark" class="mb-5"
                    onclick="getFormDetails(this, 'update')"><i class="fas fa-cocktail"></i>update drink</button>
            </div>
        </form>
    </div>

</main>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/addcocktail/addingredient.js" charset="utf-8"></script>
<script src="/static/scripts/addcocktail/getFormDetails.js" charset="utf-8"></script>
<script src="/static/scripts/addcocktail/addAndEditControls.js" charset="utf-8"></script>
<script>
    //initialise and populate an array of flavor tag names
    //pull the string names of the flavors from the db using ajax
    let addedFlavors = []
    let flavorTags = [...document.querySelector("#flavors").children].map(element =>{
        console.log(element)
        return element.id
    })
    
    fetch('/api/flavors/')
        .then((response) => response.json())
        .then(data => {
            data.forEach(flavor => {
                if (flavorTags.includes(flavor._id.$oid)){
                    addedFlavors.push(flavor.name)
                    document.getElementById(flavor._id.$oid).innerHTML = ""
                    let crossIcon = document.createElement("i")
                    crossIcon.addEventListener("click", (e) => {
                        addedFlavors = addedFlavors.filter(element => {
                            return element != flavor.name
                        })
                        console.log(addedFlavors)
                        e.currentTarget.parentNode.remove()
                    })
                    crossIcon.className = "fas fa-times ml-4 mr-1"
                    let flavorText = document.createElement("p")
                    flavorText.className = "ml-1"
                    flavorText.textContent = flavor.name
                    document.getElementById(flavor._id.$oid).appendChild(flavorText)
                    document.getElementById(flavor._id.$oid).appendChild(crossIcon)
                }
                newFlavor = document.createElement("option");
                newFlavor.textContent = flavor.name;
                document.querySelector("#flavor-list").appendChild(newFlavor)
            })
        })

    
    


</script>
{% endblock %}