{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div class="row">
            <div class="col s12 l6 offset-l1">
                <!-- start of card-->
                <div class="card">
                    <div class ="card-header">
                        <h5>First post!!</h5>
                    </div>
                    <div class="card-content">
                        <img class="responsive-img" src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
                <!-- End of Card -->
            </div>
            <!-- Start of Sticky Column -->
            <div id="controls" class="col l3 hide-on-med-and-down">
                <div  class="card">
                    <div  class="card-header">
                        <h5> Welcome to Drinkit</h5>
                    </div>
                    <div class="card-content center">
                        <a class="waves-effect waves-light btn modal-trigger" href="#sign-up"><i class="fas fa-cocktail"></i>Join Today</a>
                    </div>
                </div>
            </div>
            <!-- End of Sticky Column -->
        </div>
        <!-- End of body-->
    </main>
  {% endblock %}