{% extends 'base.html' %}



{% block content %}
    <main class="container">
        <div class="row d-md-none my-2 mx-0">
            <div class="card col-12 px-0">
                <div class="card-header">
                    <h5> Welcome to Drinkit</h5>
                </div>
                <div class="card-body">
                    {% if session['username'] %}
                        <a class="waves-effect waves-light btn modal-trigger" href="{{ url_for('new_drink') }}"><i
                            class="fas fa-cocktail"></i>New Drink</a>
                    {% else %}
                        <a class="waves-effect waves-light btn modal-trigger" data-toggle="modal" data-target="#sign-up"><i class="fas fa-cocktail"></i>Join
                            Today</a>
                    {% endif %}
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12 col-md-5 offset-md-2">
                <!-- start of card-->
                {% for cocktail in cocktails %}
                <div class="card my-4">
                    <img class="card-img-top" src="{{ cocktail.image_url }}">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <div>
                                <h3>{{ cocktail.name }}</h3>
                            </div>
                            {% if session['username'] %}
                            <div>
                                <h3><a href="{{ url_for('view_cocktail', cocktail_id = cocktail._id)}}"><i class="fas fa-eye"></i></a></h3>
                                {%  if cocktail._id in user.starred_cocktails %}
                                    <h3 class="cocktails"><i class="fas fa-star" data-id="{{cocktail._id}}" data-user="{{session['_id']}}" 
                                            onclick="removeFavorite(this, 'starred_cocktails')" ></i></h3>
                                {% else %}
                                    <h3 class="cocktails"><i class="far fa-star" data-id="{{cocktail._id}}" data-user="{{session['_id']}}" 
                                            onclick="addFavorite(this , 'starred_cocktails')"></i></h3>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <p><strong>Spirits:</strong>
                                {% for spirit in cocktail.ingredient_list %}
                                    {%  if spirit.type == "spirit" %}
                                    <span class="ingredients badge badge-secondary">
                                        {{ spirit.name }}
                                        {% if session['username'] %}
                                            {%  if spirit._id in user.favorite_ingredients %}
                                            <i class="fas fa-heart" data-id="{{spirit._id}}" data-name="{{ spirit.name }}" data-user="{{session['_id']}}" 
                                                onclick="removeFavorite(this , 'favorite_ingredients')"></i>
                                            {% else %}
                                            <i class="far fa-heart" data-id="{{spirit._id}}" data-name="{{ spirit.name }}" data-user="{{session['_id']}}"
                                                onclick="addFavorite(this , 'favorite_ingredients')"></i>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                {% endfor %}
                            </p>

                        </div>
                        <div class="row">
                                <p>Flavor:
                                    {% for flavor in cocktail.flavors %}
                                    <span class="flavors badge badge-secondary">
                                        {{ flavor.name }}
                                        {% if session['username'] %}
                                            {%  if flavor._id in user.favorite_flavors %}
                                            <i class="fas fa-heart" data-id="{{flavor._id}}" data-name="{{ flavor.name }}" data-user="{{session['_id']}}" 
                                                onclick="removeFavorite(this , 'favorite_flavors')"></i>
                                            {% else %}
                                            <i class="far fa-heart" data-id="{{flavor._id}}" data-name="{{ flavor.name }}" data-user="{{session['_id']}}"
                                                onclick="addFavorite(this , 'favorite_flavors')"></i>
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    {% endfor %}
                                </p>   
                        </div>
                        <div class="row">
                            <p>{{ cocktail.description[:350] }}{% if cocktail.description|length > 350 %}...{% endif %}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div class="mr-2">
                                <h5>
                                    {% if session['username'] %}
                                        {% if user._id|string in cocktail.votes.upvotes %}
                                            <i class="far fa-arrow-alt-circle-up voted" data-id="{{cocktail._id}}" data-user="{{session['_id']}}"
                                                onclick="vote(this, 'up')"></i>
                                        {% else %}
                                            <i class="far fa-arrow-alt-circle-up" data-id="{{cocktail._id}}" data-user="{{session['_id']}}"
                                                onclick="vote(this, 'up')"></i>
                                        {% endif %}
                                    {% endif %}
                                    <span class="vote-count">{{ cocktail.votes.upvotes|length - cocktail.votes.downvotes|length }}</span>
                                    {% if session['username'] %}
                                        {% if user._id|string in cocktail.votes.downvotes %}
                                            <i class="far fa-arrow-alt-circle-down voted" data-id="{{cocktail._id}}" data-user="{{session['_id']}}"
                                                onclick="vote(this, 'down')"></i>
                                        {% else %}
                                            <i class="far fa-arrow-alt-circle-down" data-id="{{cocktail._id}}" data-user="{{session['_id']}}"
                                                onclick="vote(this, 'down')"></i>
                                        {% endif %}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="mr-2">
                                <p> a drink by {{ cocktail.creator }}</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
                {% endfor %}
                <!-- End of Card -->
            </div>
            <!-- Start of Sticky Column -->
            <div id="controls" class="col-3 d-none d-md-block">
                <div class="card sticky-top mt-4">
                    <div  class="card-header">
                        <h5> Welcome to Drinkit</h5>
                    </div>
                    <div class="card-content center">
                         {% if session['username'] %}
                            <a class="waves-effect waves-light btn modal-trigger" href="{{ url_for('new_drink') }}"><i class="fas fa-cocktail"></i>New Drink</a>
                         {% else %}
                            <a class="waves-effect waves-light btn modal-trigger" data-toggle="modal" data-target="#sign-up"><i class="fas fa-cocktail"></i>Join Today</a>
                         {% endif %} 
                    </div>
                </div>
            </div>
            <!-- End of Sticky Column -->
        </div>
        <!-- End of body-->
        <script>
            let addFavorite = (trigger, type) =>{
                let textContent;
                if (type.split("_")[1] == "cocktails") {
                    textContent = "";
                } else {
                    textContent = trigger.dataset.name
                }
                let icon = trigger.classList[1]
                let parentElement = trigger.parentNode 
                parentElement.innerHTML = textContent;
                fetch("/u/favorite_things/", {
                    method: 'post',
                    body: JSON.stringify({
                        "type": type,
                        "user": trigger.dataset.user,
                        "item_id": trigger.dataset.id,
                        "action": "add"
                    }),
                    headers:{
                        'Content-Type': 'application/json'
                    }
                })
                .then(()=>{
                    let allTags = document.getElementsByClassName(type.split("_")[1])
                    if (type.split("_")[1] == "cocktails") {
                        parentElement.innerHTML = `<i class="fas ${icon}" data-id="${trigger.dataset.id}"
                                data-user="${trigger.dataset.user}" data-name="${trigger.dataset.name}"
                                onclick="removeFavorite(this, '${type}')" ></i>`;
                    }else{
                        for (i = 0; i < allTags.length; i++) {

                            if (allTags[i].children.length == 0 || allTags[i].children[0].dataset.name == trigger.dataset.name) {
                                allTags[i].innerHTML =
                                    `${textContent}<i class="fas ${icon}" data-id="${trigger.dataset.id}" 
                                data-user="${trigger.dataset.user}" data-name="${trigger.dataset.name}" 
                                onclick="removeFavorite(this, '${type}')" ></i>`
                            }
                        }
                    }
                    
                });
            }

            let removeFavorite = (trigger, type) => {
                let textContent;
                if (type.split("_")[1] == "cocktails"){
                    textContent = "";
                }else{
                    textContent = trigger.dataset.name
                }
                let icon = trigger.classList[1]
                let parentElement = trigger.parentNode 
                parentElement.innerHTML = textContent;
                fetch("/u/favorite_things/", {
                    method: 'post',
                    body: JSON.stringify({
                        "type": type,
                        "user": trigger.dataset.user,
                        "item_id": trigger.dataset.id,
                        "action": "remove"
                    }),
                    headers:{
                        'Content-Type': 'application/json'
                    }
                })
                .then(()=>{
                    let allTags = document.getElementsByClassName(type.split("_")[1])
                    if (type.split("_")[1] == "cocktails") {
                        parentElement.innerHTML = `<i class="far ${icon}" data-id="${trigger.dataset.id}" 
                                data-user="${trigger.dataset.user}" data-name="${trigger.dataset.name}" 
                                onclick="addFavorite(this, '${type}')" ></i>`
                    }
                    else{
                        for (i = 0; i < allTags.length; i++) {
                            if (allTags[i].children.length == 0 || allTags[i].children[0].dataset.name == trigger.dataset.name) {
                                allTags[i].innerHTML =
                                    `${textContent}<i class="far ${icon}" data-id="${trigger.dataset.id}" 
                                data-user="${trigger.dataset.user}" data-name="${trigger.dataset.name}" 
                                onclick="addFavorite(this, '${type}')" ></i>`
                            }
                        }
                    }
                    
                });
            }

            let vote = (trigger, type) => {
                let fetchType = type
                console.log(trigger.classList)
                if (trigger.classList.contains("voted")) {
                    fetchType = "remove"
                    trigger.classList.remove("voted")
                    if (type=="up"){
                        trigger.parentElement.children[1].innerText = parseInt(trigger.parentElement.children[1].innerText) - 1;
                    }
                    else{
                        trigger.parentElement.children[1].innerText = parseInt(trigger.parentElement.children[1].innerText) + 1; 
                    }
                }
                else if (type == "up") {
                    if (trigger.parentElement.children[2].classList.contains("voted")) {
                        trigger.parentElement.children[2].classList.remove("voted");
                        trigger.parentElement.children[1].innerText = parseInt(trigger.parentElement.children[1].innerText) + 1;
                    }
                    trigger.classList.add("voted");
                    trigger.parentElement.children[1].innerText = parseInt(trigger.parentElement.children[1].innerText) + 1;
                }
                else if (type == "down") {
                    if (trigger.parentElement.children[0].classList.contains("voted")) {
                        trigger.parentElement.children[0].classList.remove("voted");
                        trigger.parentElement.children[1].innerText = parseInt(trigger.parentElement.children[1].innerText) - 1;
                    }
                    trigger.classList.add("voted");
                    trigger.parentElement.children[1].innerText = parseInt(trigger.parentElement.children[1].innerText) - 1;
                } 
                
                fetch("/u/like_dislike", {
                    method: 'post',
                    body: JSON.stringify({
                        "type": fetchType,
                        "user_id": trigger.dataset.user,
                        "cocktail_id": trigger.dataset.id,
                    }),
                    headers: {
                       'Content-Type': 'application/json'
                    }
                })
        }
        </script>
    </main>
  {% endblock %}