{% extends 'base.html' %} {% block content %}
<main class="container">
  <div
    id="user-card"
    data-sessionid="{{ session['_id'] }}"
    data-id="{{ user._id | string }}"
    class="card my-4"
  >
    <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
      <div>
        <h3>{{ user.username }}</h3>
      </div>
      <div>
        <a class="btn btn-outline-dark" href="{{ url_for('home.index') }}"
          ><i class="fas fa-times"></i
        ></a>
      </div>
    </div>
    <div class="row">
      <div id="profile" class=" col-12 col-md-4 text-center">
        {% if user._id|string == session["_id"]|string %} {% if user.profile_pic is not defined %}
        <p>You have not yet added a profile</p>
        <button onclick="addProfile()">click here to create your profile</button>
        {% else %}
        <div class="col-12">
          <img src="{{ user.profile_pic }}" alt="placeholder" />
        </div>
        <div class="col-12">
          <h5 class="bold">bio</h5>
          <p>{{ user.bio }}</p>
        </div>
        {% endif %} {% else %} {% if user.profile is not defined %}
        <p>This user does not have a profile</p>
        {% else %}
        <div class="col-12">
          <img src="{{ user.profile_pic }}" alt="placeholder" />
        </div>
        <div class="col-12">
          <h5 class="bold">bio</h5>
          <p>{{ user.bio }}</p>
        </div>
        {% endif %} {% endif %}
      </div>
      <div class=" col-12 col-md-8">
        <p>{{ user.username }}'s cocktails</p>
        <div id="users-cocktails" class="row mx-0">
          <p>Loading cocktails...</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block scripts %}
<script>
  // userId and Session ID added to globabl name space for use for the
  // two following functions getCocktails and add profile
  const userId = document.querySelector('#user-card').dataset.id;
  const sessionId = document.querySelector('#user-card').dataset.sessionid;
</script>
<script src="../static/scripts/userprofiles/getcocktails.js"></script>
<script src="../static/scripts/userprofiles/addprofile.js"></script>

{% endblock %}
