{% extends 'base.html' %} {% block content %}
<main class="container">
  <div
    id="user-card"
    data-sessionid="{{ session['_id'] }}"
    data-id="{{ user._id | string }}"
    class="card my-4"
  >
    <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
      <div>
        <h3 class="pink">{{ user.username }}</h3>
      </div>
      <div>
        <h3>
          <a class="blue" href="{{ url_for('home.index') }}">
            <i class="fas fa-times"></i>
          </a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div id="profile" class=" col-12 col-md-4 text-center">
        {% if user._id|string == session["_id"]|string %} {% if user.profile_pic is not defined %}
        <p>You have not yet added a profile</p>
        <div class="d-flex justify-content-around">
          <button class="sort-btn" onclick="addProfile()">Add Profile</button>
          <button
            class="delete-btn"
            data-toggle="modal"
            data-target="#delete"
            data-id="{{ user._id | string }}"
            data-name="{{ user.username }}"
            data-type="user"
            onclick="confirmDelete(this)"
          >
            Delete Account
          </button>
        </div>
        {% else %}
        <div class="col-12">
          <img
            src="{{ user.profile_pic }}"
            alt="placeholder"
            onerror="this.onerror=null;this.src='../static/images/placeholder.jpg';"
          />
        </div>
        <div class="col-12">
          <h5 class="bold pink">bio</h5>
          <p>{{ user.bio }}</p>
          <div class="d-flex justify-content-around">
            <button
              class="sort-btn"
              onclick="addProfile( '{{ user.profile_pic }}','{{ user.bio }}' )"
            >
              Edit Profile
            </button>
            <button
              class="delete-btn"
              data-toggle="modal"
              data-target="#delete"
              data-id="{{ user._id | string }}"
              data-name="{{ user.username }}"
              data-type="user"
              onclick="confirmDelete(this)"
            >
              > Delete Account
            </button>
          </div>
        </div>
        {% endif %} {% else %} {% if user.profile_pic is not defined %}
        <p>This user does not have a profile</p>
        {% else %}
        <div class="col-12">
          <img src="{{ user.profile_pic }}" alt="placeholder" />
        </div>
        <div class="col-12">
          <h5 class="bold pink">bio</h5>
          <p>{{ user.bio }}</p>
        </div>
        {% endif %} {% endif %}
      </div>
      <div class=" col-12 col-md-8">
        <p class="blue">{{ user.username }}'s cocktails</p>
        <div id="users-cocktails" class="row mx-0">
          <p>Loading cocktails...</p>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Delete Modal -->
<div id="delete" class="modal fade" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="d-flex justify-content-between mt-2 px-2">
        <h3 class="pink">Confirm Delete</h3>
        <h3 class="blue" data-dismiss="modal"><i class="fas fa-times"></i></h3>
      </div>
      <p>
        Are you sure you want to delete
        <span class="delete-name"> Placeholder</span>
      </p>
      <p id="delete-error"></p>
      <button class="delete-btn" id="delete">Delete</button>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="../static/scripts/userprofiles/getcocktails.js"></script>
<script src="../static/scripts/userprofiles/addprofile.js"></script>

{% endblock %}
