{% extends 'base.html' %}
{% block content %}
<main class="container" data-user="{{ session['_id'] }}">
    <div class="card my-4">
        <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
            <div>
                <h3 class="pink"> {{ cocktail.name }}</h3>
            </div>
            <a class="blue" href="{{ url_for('home.index') }}"><h3><i class="fas fa-times"></i></h3></a>
        </div>
        <div class="row d-flex px-4 justify-content-between">
            <div class="col-12 col-lg-6">
                <img src="{{ cocktail.image_url }}" class="img-fluid" onerror="this.onerror=null;this.src='../../static/images/placeholder.jpg';"/>
            </div>
            
            <div class="col-12 col-lg-6">
                    <div class=" d-flex justify justify-content-between pink">
                            {% if session['username'] %}
                            <h3>Add as favorite:</h3>
                            {% if cocktail._id in user.starred_cocktails %}
                            <h3 class="cocktails"><i class="fas fa-star
                                    clickable" data-name="{{ cocktail.name
                                    }}" data-id="{{cocktail._id}}"
                                    data-user="{{session['_id']}}"
                                    onclick="removeFavorite(this,
                                    'starred_cocktails')"></i></h3>
                            {% else %}
                            <h3 class="cocktails"><i class="far fa-star
                                    clickable" data-name="{{ cocktail.name
                                    }}" data-id="{{cocktail._id}}"
                                    data-user="{{session['_id']}}"
                                    onclick="addFavorite(this ,
                                    'starred_cocktails')"></i></h3>
                            {% endif %}
                            {% endif %}
                        </div>
                <strong>Description:</strong>
                <p>{{ cocktail.description }}</p>
                <strong>INGREDIENTS:</strong>
                <div class="row mx-0">
                        
                        {% for spirit in cocktail.ingredients %}
                        {% if spirit.ingredient in user.favorite_ingredients
                        %}
                        <span class="ingredients spirit"
                            data-id="{{spirit.ingredient}}"
                            data-user="{{session['_id']}}"
                            onclick="removeFavorite(this ,
                            'favorite_ingredients')">
                            <span class="ing-{{spirit.ingredient}}"></span>
                            {% if session['username'] %}
                            <i class="fas fa-heart clickable"></i>
                            {% endif %}
                        </span>

                        {% else %}
                        <span class="ingredients spirit"
                            data-id="{{spirit.ingredient}}"
                            data-user="{{session['_id']}}"
                            onclick="addFavorite(this ,
                            'favorite_ingredients')">
                            <span class="ing-{{spirit.ingredient}}"></span>
                            {% if session['username'] %}
                            <i class="far fa-heart clickable"></i>
                            {% endif %}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% if cocktail.flavor_tags | length > 0 %}
                    <strong>FLAVORS:</strong>
                    <div class="row mx-0">
                           

                        {% for flavor in cocktail.flavor_tags %}

                            {% if flavor in user.favorite_flavors %}
                            <span class="flavors" data-id="{{flavor}}"
                                data-user="{{session['_id']}}"
                                onclick="removeFavorite(this ,
                                'favorite_flavors')">
                                <span class="flav-{{flavor}}"></span>
                                {% if session['username'] %}
                                <i class="fas fa-heart clickable"></i>
                                {% endif %}
                            </span>
                            {% else %}
                            <span class="flavors" data-id="{{flavor}}"
                                data-user="{{session['_id']}}"
                                onclick="addFavorite(this ,
                                'favorite_flavors')">
                                <span class="flav-{{flavor}}"></span>
                                {% if session['username'] %}
                                <i class="far fa-heart clickable"></i>
                                {% endif %}
                            </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                        
              
            </div>
        </div>
        <hr>
        <div class="row mx-0 px-sm-4">
            <div class="col-12 col-md-6 px-sm-4">
                <h4 class="px-4 ">Ingredient List</h4>
                <ul id="ingredient-list">
                    {% for ingredient in cocktail.ingredients %}
                        <li> <span data-id="{{ ingredient.ingredient }}" class="ingredient-name"></span> {{ ingredient.quantity }} {% if ingredient.units != "none" %}{{ ingredient.units }}{% endif %}</li>
                    {% endfor %}
                </ul>
                    
            </div>
            <div class="col-12 col-md-6 px-sm-4">
                <h4 class="px-4">Method</h4>
                <p>
                    <ol>
                        {% for instruction in cocktail.method %}
                        <li>{{ instruction }}</li>
                        {% endfor %}
                    </ol>
                </p>
            </div>
        </div>
        <hr>
        <div class="row mx-0 px-sm-4">
            <h4 class="px-4">Comments</h4>
            <div class="col-12">
                <div id="comments-area" data-cocktail="{{ cocktail._id }}">
                    Fetching Comments....
                </div>      
            </div>
            <div class="new-comment col-12">
                <div class="col-12 mx-0">
                    Comment as {{ session['username'] }}
                    <div class="content-card col-12 px-0">
                        <div class="card-content ">
                            <textarea class="col-12"></textarea>
                        </div>
                        <div class="d-flex ">
                            <button type="button" class="btn btn-primary ml-auto" 
                            data-user="{{ session['_id'] }}" data-cocktail="{{ cocktail._id }}"
                            onclick="addComment(this)">comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/managecomments.js" charset="utf-8">

   
</script>

{% endblock %}
