{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="card my-4">
        <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
            <div>
                <h3 class="pink"> {{ cocktail.name }}</h3>
            </div>
            <a class="blue" href="{{ url_for('home.index') }}"><h3><i class="fas fa-times"></i></h3></a>
        </div>
        <div class="row d-flex px-4 justify-content-between">
            <div class="col-12 col-lg-6">
                <img src="{{ cocktail.image_url }}" class="img-fluid" onerror="this.onerror=null;this.src='../../static/images/placeholder.jpg';"/>
            </div>
            <div class="col-12 col-lg-6">
                <strong>Description:</strong>
                <p>{{ cocktail.description }}</p>
                <strong>Ingredients:</strong>
                <p id="spirit-tags">
                    {% for ingredient in cocktail.ingredients %}
                    <span data-id="{{ ingredient.ingredient }}" data-user="{{ session['_id'] }}" class="spirit">
                        <span>loading..</span>
                        
                        {% if session['username'] %}
                            {%  if ingredient.ingredient in user.favorite_ingredients %}
                            <i data-action="remove"></i>
                            {% else %}
                            <i data-action="add"></i>
                            {% endif %}
                        {% endif %}
                    </span>
                    {% endfor %}
                </p>
                    <strong>Flavor:</strong>
                    <p id="flavor-tags">
                        {% for flavor in cocktail.flavor_tags %}
                        <span data-id="{{ flavor }}" data-user="{{session['_id']}}" class="flavors">
                            <span>loading..</span>
                            {% if session['username'] %}
                                {%  if flavor in user.favorite_flavors %}
                                    <i data-action="remove"></i>
                                {% else %}
                                    <i data-action="add"></i>
                                {% endif %}
                            {% endif %}
                        </span>
                        {% endfor %}
                    </p>
              
            </div>
        </div>
        <hr>
        <div class="row mx-0 px-sm-4">
            <div class="col-12 col-md-6 px-sm-4">
                <h4 class="px-4 ">Ingredients</h4>
                <ul id="ingredient-list">
                    {% for ingredient in cocktail.ingredients %}
                        <li> <span data-id="{{ ingredient.ingredient }}"class="ingredient_name"></span> {{ ingredient.quantity }} {{ ingredient.units }}</li>
                    {% endfor %}
                </ul>
                    
            </div>
            <div class="col-12 col-md-6 px-sm-4">
                <h4 class="px-4">Method</h4>
                <p>
                    <ol>
                        {% for instruction in cocktail.method %}
                        <li>{{ instruction }}</li>
                        {% endfor %}
                    </ol>
                </p>
            </div>
        </div>
        <hr>
        <div class="row mx-0 px-sm-4">
            <h4 class="px-4">Comments</h4>
            <div class="new-comment col-12">
                <div class="col-12 mx-0">
                    Comment as {{ session['username'] }}
                    <div class="card col-12 px-0">
                        <div class="card-content ">
                            <textarea class="col-12"></textarea>
                        </div>
                        <div class="d-flex ">
                            <button type="button" class="btn btn-primary ml-auto" 
                            data-user="{{ session['_id'] }}" data-cocktail="{{ cocktail._id }}"
                            onclick="addComment(this)">comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div id="comments-area" data-cocktail="{{ cocktail._id }}">
                    Fetching Comments....
                </div>      
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/updateTags.js" charset="utf-8"></script>

<script src="/static/scripts/managecomments.js" charset="utf-8">

   
</script>

{% endblock %}
