{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="card">
        <div class="row my-2 mx-0 px-4 d-flex justify-content-between">
            <div>
                <h3> {{ cocktail.name }}</h3>
            </div>
            <div><a class="btn btn-outline-dark" href="{{ url_for('index') }}"><i class="fas fa-times"></i></a></div>
        </div>
        <div class="row d-flex px-4 justify-content-between">
            <div class="col-12 col-lg-6">
                <img src="{{ cocktail.image_url }}" class="img-fluid"/>
            </div>
            <div class="col-12 col-lg-6">
                <strong>Description:</strong>
                <p>{{ cocktail.description }}</p>
                <strong>Ingredients:</strong>
                <p id="spirit-tags">
                    {% for ingredient in cocktail.ingredients %}
                    <span data-id="{{ ingredient.ingredient }}" data-user="{{ session['_id'] }}" class="ingredients badge badge-secondary">
                        <span>loading..</span>
                        
                        {% if session['username'] %}
                            
                            {%  if ingredient.ingredient in user.favorite_ingredients %}
                            <i data-action="remove"></i>
                            {% else %}
                            <i data-action="add"></i>
                            {% endif %}
                        {% endif %}
                    </span>
                    {% endfor %}
                </p>
                    <strong>Flavor:</strong>
                    <p id="flavor-tags">
                        {% for flavor in cocktail.flavor_tags %}
                        <span data-id="{{ flavor }}" data-user="{{session['_id']}}" class="flavors badge badge-secondary">
                            <span>loading..</span>
                            {% if session['username'] %}
                                {%  if flavor in user.favorite_flavors %}
                                    <i data-action="remove"></i>
                                {% else %}
                                    <i data-action="add"></i>
                                {% endif %}
                            {% endif %}
                        </span>
                        {% endfor %}
                    </p>
              
            </div>
        </div>
        <hr>
        <div class="row mx-0 px-sm-4">
            <div class="col-12 col-md-6 px-sm-4">
                <h4 class="px-4 ">Ingredients</h4>
                <ul id="ingredient-list">
                    {% for ingredient in cocktail.ingredients %}
                        <li> <span data-id="{{ ingredient.ingredient }}"class="ingredient_name"></span> {{ ingredient.quantity }} {{ ingredient.units }}</li>
                    {% endfor %}
                </ul>
                    
            </div>
            <div class="col-12 col-md-6 px-sm-4">
                <h4 class="px-4">Method</h4>
                <p>
                    <ol>
                        {% for instruction in cocktail.method %}
                        <li>{{ instruction }}</li>
                        {% endfor %}
                    </ol>
                </p>
            </div>
        </div>
        <hr>
        <div class="row mx-0 px-sm-4">
            <h4 class="px-4">Comments</h4>
            <p>Comments are coming in a future update</p>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/getDetails.js" charset="utf-8"></script>



{% endblock %}
